:root {
    // Css Color Variable
    --color__white: #ffffff;
    --color__black: #000000;
    --color__blue: #19458d;
    --color__orange: #FF6D1F;

    // Font
    --font__script: 'Freestyle Script Regular';
    --font__primary_reg: 'Myriad Pro Regular';
    --font__primary_light: 'Myriad Pro Light';
    --font__primary_semibold: 'Myriad Pro Semibold';
    --font__primary_bold: 'Myriad Pro Bold';

}
